version: "3"
services:
  node-red:
    build: node-red/.
    ports:
      - "127.0.0.1:1881:1880"
    restart: always
    environment:
      OWM_ID: <your openweathermap appid here>
  influxdb:
    image: "influxdb:1.8.0"
    restart: always
    expose:
      - 8086
    volumes:
      - ./influxdb/db:/var/lib/influxdb
